In [1]:
import pandas as pd
import re
import json
df = pd.read_csv("public/data/All_patient_data_fre/element_patient_counts.csv")
df["Element #"] = df["Element #"].astype(int)
results = df.set_index("Element #")["Number of Patients"].to_dict()
print(results)
df

{41: 6, 42: 6, 44: 2, 45: 2, 47: 4, 48: 11, 49: 6, 50: 2, 51: 1, 54: 12, 55: 11, 57: 6, 59: 4, 60: 5, 61: 12, 62: 1, 63: 3, 67: 6, 68: 1, 70: 4, 71: 1, 72: 19, 73: 22, 74: 4, 75: 3, 76: 3, 78: 2, 80: 1, 82: 11, 83: 11, 84: 2, 85: 2, 86: 6, 88: 5, 89: 2, 90: 3, 91: 4, 92: 2, 93: 14, 94: 3, 95: 14, 96: 3, 98: 5, 99: 2, 100: 6, 101: 3, 102: 9, 103: 55, 104: 64, 105: 16, 106: 5, 107: 38, 108: 25, 109: 18, 110: 26, 111: 76, 112: 57, 113: 40, 114: 21, 115: 149, 116: 46, 117: 9, 118: 6, 119: 19, 120: 37, 121: 32, 122: 15, 123: 92, 124: 72, 165: 10, 166: 4, 167: 6, 168: 7, 169: 7, 171: 2, 172: 3, 173: 10, 174: 10, 175: 3, 177: 1, 178: 20, 180: 6, 181: 2, 183: 2, 184: 4, 185: 7, 186: 8, 187: 3, 189: 8, 191: 5, 192: 1, 194: 8, 195: 4, 196: 2, 197: 9, 198: 4, 199: 4, 200: 4, 201: 1, 206: 10, 208: 3, 209: 18, 210: 2, 211: 4, 212: 9, 213: 8, 214: 2, 215: 3, 216: 1, 217: 8, 220: 3, 221: 11, 222: 2, 224: 13, 225: 44, 226: 63, 227: 57, 228: 4, 229: 6, 230: 21, 231: 32, 233: 52, 234: 105, 235: 58, 236: 3, 237: 34, 238: 100, 239: 122, 240: 4, 241: 61, 242: 26, 243: 32, 244: 6, 245: 46, 246: 73, 247: 97, 248: 12, 249: 3, 250: 5, 251: 2, 252: 1, 253: 1, 256: 44, 258: 2, 259: 29, 260: 34, 261: 32, 262: 3, 263: 5, 264: 54, 265: 60, 269: 55, 270: 9, 271: 15, 272: 30, 273: 33, 274: 23, 277: 27, 278: 16, 279: 8, 280: 9, 281: 11, 282: 5, 283: 6, 284: 2, 285: 26, 286: 22, 287: 7, 288: 6, 289: 4, 290: 6, 291: 10, 292: 6, 293: 21, 294: 38, 295: 32, 296: 3, 297: 2, 298: 8, 299: 11, 300: 9, 301: 16, 302: 41, 303: 39, 304: 14, 305: 8, 306: 3, 307: 13, 308: 4, 309: 15, 310: 23, 311: 34, 312: 18, 313: 4, 314: 8, 315: 7, 316: 2, 317: 6, 318: 13, 319: 18, 320: 6, 321: 4, 322: 3, 323: 7, 324: 2, 325: 10, 326: 12, 327: 3, 328: 6, 329: 10, 330: 11, 331: 15, 332: 1, 333: 12, 334: 11, 335: 10, 336: 13, 337: 8, 338: 8, 339: 8, 340: 4, 341: 8, 342: 22, 343: 35, 344: 11, 345: 9, 346: 5, 347: 5, 348: 10, 349: 31, 350: 41, 351: 48, 352: 6, 353: 2, 354: 3, 355: 4, 356: 4, 357: 27, 358: 27, 359: 22, 360: 5, 361: 4, 362: 5, 363: 8, 365: 19, 366: 23, 367: 11, 370: 9, 371: 5, 372: 2, 373: 9, 374: 6, 375: 12, 376: 5, 377: 2, 378: 4, 379: 9, 380: 11, 381: 2, 382: 4, 383: 4, 384: 2, 387: 21, 388: 2, 389: 4, 390: 4, 392: 4, 393: 2, 394: 2, 395: 4, 396: 3, 397: 6, 399: 2, 400: 1, 401: 3, 402: 8, 403: 3, 408: 4, 409: 5, 410: 7, 411: 1, 412: 3, 413: 2, 415: 3, 417: 2, 418: 4, 420: 2, 421: 1, 424: 2, 425: 5, 426: 6, 427: 8, 428: 5, 429: 2, 431: 3, 435: 1, 436: 1, 438: 5, 440: 3, 441: 2, 442: 9, 443: 8, 444: 10, 445: 3, 447: 2, 449: 1, 450: 1, 451: 8, 452: 3, 453: 8, 454: 6, 456: 4, 457: 7, 458: 12, 459: 8, 460: 9, 461: 4, 462: 3, 463: 8, 464: 5, 465: 3, 466: 12, 467: 9, 468: 3, 469: 14, 470: 9, 472: 33, 473: 34, 474: 54, 475: 45, 476: 47, 477: 25, 478: 1, 479: 13, 480: 6, 481: 2, 482: 15, 483: 23, 484: 15, 485: 23, 486: 7, 487: 4, 488: 35, 489: 41, 490: 45, 491: 40, 492: 52, 493: 24, 494: 1, 495: 12, 496: 10, 497: 13, 498: 24, 499: 22, 500: 21, 501: 11, 502: 5, 503: 6, 504: 48, 505: 46, 506: 57, 507: 60, 508: 66, 509: 28, 510: 4, 511: 11, 512: 9, 513: 12, 514: 19, 515: 16, 516: 19, 517: 9, 518: 2, 519: 1, 520: 16, 521: 51, 522: 60, 523: 60, 524: 44, 525: 10, 527: 8, 528: 14, 529: 11, 530: 16, 531: 10, 532: 3, 534: 4, 536: 1, 537: 34, 538: 96, 539: 85, 540: 40, 541: 4, 543: 3, 544: 3, 545: 2, 546: 6, 547: 20, 548: 9, 549: 10, 553: 18, 554: 128, 555: 115, 556: 26, 559: 6, 560: 7, 561: 12, 562: 21, 563: 27, 564: 13, 565: 7, 566: 27, 567: 17, 568: 9, 569: 20, 570: 46, 571: 32, 572: 31, 573: 55, 574: 37, 575: 128, 576: 446, 577: 504, 578: 163, 579: 37, 580: 61, 581: 22, 582: 37, 583: 46, 584: 24, 585: 2, 586: 10, 587: 10, 588: 23, 589: 129, 590: 17, 591: 214, 592: 292, 593: 276, 594: 114, 595: 33, 596: 78, 597: 27, 598: 23, 599: 6, 600: 4, 601: 72, 602: 36, 603: 10, 604: 330, 605: 255, 606: 221, 607: 237, 608: 19, 609: 39, 610: 58, 671: 2, 676: 2, 677: 2, 678: 1, 683: 4, 684: 16, 685: 10, 686: 1, 690: 1, 695: 1, 696: 2, 698: 8, 705: 35, 706: 22, 707: 28, 708: 8, 709: 12, 710: 4, 711: 5, 712: 48, 713: 54, 714: 30, 715: 62, 716: 57, 717: 25, 719: 29, 720: 94, 721: 98, 722: 16, 723: 54, 724: 188, 725: 70, 727: 2, 728: 50, 729: 85, 730: 80, 731: 12, 732: 106, 733: 60, 736: 26, 737: 3, 738: 2, 741: 2, 745: 27, 746: 11, 805: 3, 820: 5, 821: 11, 822: 7, 829: 1, 834: 1, 836: 2, 844: 18, 845: 26, 855: 25, 856: 61, 857: 11, 859: 8, 860: 8, 861: 6, 862: 8, 863: 83, 864: 56, 865: 93, 866: 5, 867: 7, 868: 36, 869: 54, 870: 66, 871: 78, 872: 70, 873: 22, 874: 2, 876: 138, 877: 72, 878: 43, 879: 71, 880: 59, 881: 8, 884: 67, 885: 63, 886: 24, 889: 2, 890: 11, 891: 3, 892: 2, 893: 1, 894: 92, 895: 81, 896: 2, 898: 2, 899: 7, 903: 3, 904: 2, 905: 7, 906: 5, 907: 11, 908: 10, 909: 11, 910: 7, 911: 4, 912: 17, 913: 8, 914: 8, 915: 8, 916: 9, 917: 1, 918: 1, 919: 2, 920: 3, 921: 13, 922: 22, 923: 46, 924: 23, 925: 7, 926: 10, 927: 7, 928: 24, 929: 24, 930: 42, 931: 27, 932: 8, 933: 1, 934: 2, 936: 13, 937: 21, 938: 15, 939: 24, 940: 41, 941: 5, 942: 7, 943: 9, 944: 16, 945: 43, 946: 19, 947: 24, 948: 19, 949: 10, 958: 9, 959: 25, 960: 26, 961: 15, 962: 18, 963: 3, 965: 32, 966: 17, 967: 12, 968: 12, 969: 8, 970: 25, 973: 22, 974: 21, 975: 53, 976: 11, 977: 9, 987: 13, 988: 40, 989: 67, 990: 39, 991: 29, 992: 16, 994: 18, 995: 122, 997: 1, 998: 30, 1001: 29, 1002: 9, 1004: 116, 1005: 19, 1007: 21, 1008: 4, 1009: 38, 1010: 61, 1011: 39, 1012: 12, 1016: 11, 1017: 26, 1020: 70, 1021: 29, 1022: 12, 1023: 11, 1024: 7, 1025: 13, 1026: 10, 1027: 15, 1028: 33, 1029: 50, 1030: 22, 1031: 8, 1035: 11, 1036: 10, 1037: 30, 1038: 42, 1039: 36, 1040: 9, 1041: 5, 1042: 8, 1043: 10, 1044: 6, 1045: 6, 1046: 39, 1047: 45, 1048: 23, 1049: 14, 1050: 13, 1051: 13, 1052: 14, 1053: 24, 1054: 33, 1055: 22, 1056: 4, 1057: 10, 1058: 22, 1059: 22, 1060: 6, 1061: 8, 1062: 18, 1063: 33, 1064: 19, 1065: 9, 1066: 18, 1067: 8, 1068: 19, 1069: 33, 1070: 32, 1071: 28, 1072: 28, 1073: 42, 1074: 106, 1075: 103, 1076: 33, 1077: 10, 1078: 11, 1079: 29, 1080: 23, 1081: 9, 1082: 8, 1100: 40, 1101: 11, 1102: 8, 1104: 36, 1105: 10, 1106: 13, 1112: 5, 1114: 45, 1115: 19, 1116: 59, 1117: 11, 1118: 30, 1119: 56, 1120: 17, 1121: 1, 1122: 36, 1123: 67, 1124: 24, 1125: 10, 1126: 8, 1127: 1, 1130: 4, 1131: 2, 1132: 1, 1134: 15, 1135: 6, 1136: 8, 1137: 3, 1138: 4, 1139: 20, 1140: 4, 1141: 7, 1142: 6, 1143: 4, 1144: 36, 1146: 7, 1147: 1, 1148: 5, 1149: 45, 1150: 3, 1151: 5, 1152: 3, 1153: 1}

     Element #  Number of Patients
0           41                   6
1           42                   6
2           44                   2
3           45                   2
4           47                   4
..         ...                 ...
731       1149                  45
732       1150                   3
733       1151                   5
734       1152                   3
735       1153                   1

[736 rows x 2 columns]

In [2]:
grouping = pd.read_table("public/data/All_patient_data_fre/Readme_element_grouping.txt").iloc[:,0]
grouping

0                                   element_groups_1 = {
1                       #"upper_arm_L": range(721, 737),
2                      # "upper_arm_R": range(871, 887),
3         # "foot_L": chain(range(125, 154), range(15...
4          #"foot_R": chain(range(1, 32), range(33, 1...
                             ...
146                                 "Right_2_toe": 1150,
147                                 "Right_3_toe": 1151,
148                                 "Right_4_toe": 1152,
149                            "Right_little_toe": 1153,
150                                                    }
Name: # Group by element number and add specified element numbers to all, Length: 151, dtype: object

In [3]:
for line in grouping:
    if '"' not in line:
        continue
    name = re.search(r'\"(.+?)\"', line).group(1)
    total = 0
    ranges = re.findall(r'range\((\d+), (\d+)\)', line)
    if ranges:
        for range in ranges:
            start, end = map(int, range)
            value = df.loc[df["Element #"].between(start, end, inclusive="left"), "Number of Patients"].sum()
            total += value
    else:
        indexes = re.findall(r'(\d+)', line)
        for index in indexes:
            value = df.loc[df["Element #"] == int(index), "Number of Patients"].sum()
            total += value
    results[name] = int(total)
    results["_".join(reversed(name.split("_")))] = int(total)
with open("element_patient_counts.json", "w") as f:
    json.dump(results, f, indent=4)